__MACOSX/
.DS_Store
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vite/

*.tsbuildinfo
.vercel

.env
.venv
__pycache__
.pytest_cache
.next
node_modules
out
user_data
app_data
tmp
debug
.fastembed_cache

generated_models
nltk
chroma
container.db
.next-build
.cursor

key.txt

venv/
static/

.agents/